<app-loading-table [isTableloading]='isTableLoading'>

</app-loading-table>

<form class='mb-2'>
  <div class='flex'>


    <mat-form-field class='relative w-full'>
      <input matInput placeholder='Search product name...' #input type='search' id='search-dropdown'
             class='block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500'
             required (keyup)='applyFilter($event)'>

    </mat-form-field>

    <button
      class=' ml-2 block w-2/12 p-2 mb-6 text-sm text-white font-bold border uppercase rounded-full bg-green-500 hover:bg-green-600 active:bg-green-700 focus:outline-none  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      (click)='openToAdd(); dialog.showModal()'> + Cultivate
    </button>
  </div>
</form>
<table mat-table [dataSource]='dataSourceProduct' class=' min-h-max'>

  <ng-container matColumnDef='index'>
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef='let i = index'> {{i + 1}} </td>
  </ng-container>


  <!-- Weight Column -->
  <ng-container matColumnDef='productName'>
    <th mat-header-cell *matHeaderCellDef> Product name</th>
    <td mat-cell *matCellDef='let element'> {{element.productName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef='cultivatedDate'>
    <th mat-header-cell *matHeaderCellDef> Cultivated date</th>
    <td mat-cell *matCellDef='let element'>
      <p>
        <ng-container>
          {{element.dates[0].time | date: 'dd - MMM - yyyy'}}
        </ng-container>
      </p>
      <p>
        <ng-container>
          {{element.dates[0].time | date: 'HH:mm'}}
        </ng-container>
      </p>

    </td>
  </ng-container>
  <ng-container matColumnDef='harvestedDate'>
    <th mat-header-cell *matHeaderCellDef> Harvested date</th>
    <td mat-cell *matCellDef='let element'>
      <ng-container *ngIf='element.dates[1]'>
        <p>
          <ng-container>
            {{element.dates[1].time | date: 'dd - MMM - yyyy'}}
          </ng-container>
        </p>
        <p>
          <ng-container>
            {{element.dates[1].time | date: 'HH:mm'}}
          </ng-container>
        </p>
      </ng-container>
      <ng-container *ngIf='!element.dates[1]'>
        Updating ...
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef='price'>
    <th mat-header-cell *matHeaderCellDef> Price (VND)</th>
    <td mat-cell *matCellDef='let element'> {{element.price | dotSeparator}} </td>
  </ng-container>
  <ng-container matColumnDef='status'>
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef='let element' class='flex items-center'>
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fcultivation24px.png?alt=media&token=267734a8-b3bf-4f14-9ca9-5e6d56ac7c61'
        *ngIf="element.status?.toLowerCase() == 'cultivated'">
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fharvest24px.png?alt=media&token=bf3ebe1e-feb6-4474-99b9-e5deb6a6671a'
        *ngIf="element.status?.toLowerCase() == 'harvested'">
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fimport24px.png?alt=media&token=3fbd4eda-4ad0-4e6e-821e-ca574bde8e38'
        *ngIf="element.status?.toLowerCase() == 'imported'">
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fmanufacturing24px.png?alt=media&token=2227c3f6-4bbf-4831-a7a1-d4ef7af19b42'
        *ngIf="element.status?.toLowerCase() == 'manufactured'">
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fexport24px.png?alt=media&token=0ab4ee7a-73e7-49bc-b61c-0cb0cbb7badc'
        *ngIf="element.status?.toLowerCase() == 'exported'">
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fdistributing24px.png?alt=media&token=4ee3a6f0-ea3a-45cc-b336-8598c986a639'
        *ngIf="element.status?.toLowerCase() == 'distributing'">
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fretailer24px.png?alt=media&token=2c00fc6e-41c4-4a2a-bc0f-7142b496fd46'
        *ngIf="element.status?.toLowerCase() == 'retailing'">
      <img
        src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fsold24px.png?alt=media&token=8ec66b83-8b8c-4a7e-ac5f-9e32882623b2'
        *ngIf="element.status?.toLowerCase() == 'sold'">
      <span class='py-10'>{{element.status}}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef='action'>
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef='let element'>
      <button type='button'
              class='mr-3 fa-solid focus:outline-none text-base text-blue-500 hover:text-blue-600 transition-colors duration-300 ease-in-out transform'
              (click)='openHistoryDialog(element);historyDialog.showModal();'>
        <mat-icon class='align-bottom text-yellow-300'>library_books</mat-icon>
      </button>
      <button type='button'
              class='mr-3 fa-solid focus:outline-none fa-pen-to-square text-base text-blue-500 hover:text-blue-600 transition-colors duration-300 ease-in-out transform'
              (click)='open(element);dialog.showModal();'></button>
      <button type='button'
              class='fa-solid focus:outline-none fa-trash-can text-base text-red-500 hover:text-red-600 transition-colors duration-300 ease-in-out transform'></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef='displayProductColumns'></tr>
  <tr mat-row *matRowDef='let row; columns: displayProductColumns;'></tr>
</table>
<mat-paginator #productPaginator [pageSizeOptions]='[5, 10, 25, 100]' aria-label='Select page of users'></mat-paginator>
<dialog [ngClass]="openDialog ? 'flex':'hidden'" class=' relative flex-col bg-blueGray-100 rounded-lg w-5/6' #dialog>
  <!--  <div class="backdrop" (mousedown)="onBackdropClick($event)"></div>-->
  <p class='text-xl font-medium' *ngIf='!isCreate'>Update product</p>
  <p class='text-xl font-medium' *ngIf='isCreate'>Cultivate product</p>

  <button type='button' class='absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600'
          (click)='close(true, false)'>X
  </button>

  <!--    <app-detail-product [product]="product" [reload]="reloadDetailProduct" (dataEvent)="close($event)" *ngIf="openDialog"></app-detail-product>-->

  <form (ngSubmit)='onSubmit()'>
    <div class='2xl:container 2xl:mx-auto lg:px-20 md:px-6 px-4'>
      <div class='flex justify-center items-center lg:flex-row flex-col gap-8'>
        <div class='w-full '>
          <div style='height: 70vh; width: 100%;' class='mb-2 border-4 rounded'>
            <div style='display: flex; flex-direction: column; height: 100%; width: 100%;'>
              <div style='flex: 5'>
                <div class='text-right'>
                  <i class='text-red-600 text-sm ' *ngIf='!hasImage'>*there must be at least 1 image</i>
                </div>
                <div
                  style='position: relative; background-size: contain; background-position: center; padding: 0 15px; display: flex; justify-content: space-between; align-items: center; height: 100%; background-repeat: no-repeat;'
                  [ngStyle]="{'background-image': imageList && imageList.length > 0 ? 'url('+ imageList![currentImagePos] +' ) ': 'url(https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/signatureimg%2Fhình%20ảnh_2023-06-14_094736470.png?alt=media&token=88d5e1bc-84a7-4849-8b76-65d8e965e413&_gl=1*y6x5nc*_ga*MTM3MTA5MTU2LjE2ODUwOTY5NjU.*_ga_CW55HF8NVT*MTY4NjcxMDgzNi41LjEuMTY4NjcxMDg2MC4wLjAuMA..) '}"
                >
                  <div style='position: absolute; right: 7px; top: 7px;'>
                    <label for='file-input'>
                      <mat-icon class='rounded-md bg-aliceblue h-35 w-35 bg-blueGray-100 ' *ngIf='!isImageLoading'>
                        library_add
                      </mat-icon>
                      <app-loading [isLoading]='isImageLoading'></app-loading>
                    </label>
                    <input *ngIf='!isImageLoading' id='file-input' type='file' accept='image/png, image/gif, image/jpeg'
                           style='height: 1px; width: 1px; opacity: 0; '
                           (change)='addImage($event)' />
                  </div>
                  <div class='rounded-md bg-aliceblue h-35 w-35 bg-blueGray-100 '
                       (click)='previousImage()' *ngIf='imageList.length > 1'>
                    <svg class='h-8 w-8 text-black'
                         width='24' height='24'
                         viewBox='0 0 24 24'
                         stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round'
                         stroke-linejoin='round'>
                      <path stroke='none' d='M0 0h24v24H0z' />
                      <line x1='5' y1='12' x2='19' y2='12' />
                      <line x1='5' y1='12' x2='11' y2='18' />
                      <line x1='5' y1='12' x2='11' y2='6' />
                    </svg>
                  </div>
                  <div class='rounded-md bg-aliceblue h-35 w-35 bg-blueGray-100 ' (click)='afterImage()'
                       *ngIf='imageList.length > 1'>
                    <svg class='h-8 w-8 text-black' width='24' height='24' viewBox='0 0 24 24'
                         stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round'
                         stroke-linejoin='round'>
                      <path stroke='none' d='M0 0h24v24H0z' />
                      <line x1='5' y1='12' x2='19' y2='12' />
                      <line x1='13' y1='18' x2='19' y2='12' />
                      <line x1='13' y1='6' x2='19' y2='12' />
                    </svg>
                  </div>
                </div>
              </div>
              <div (drag)='moveImages($event)' (dragend)='endDrag($event)' id='imageThumnailContain' class='mt-2'
                   style='position: relative;flex: 1; align-items: center; justify-content: center; overflow: hidden;'>
                <div id='imageThumnails'
                     style='position: absolute;height: 100%; display: flex; align-items: center; padding: 0 5px;'
                     [style.left]='distanceString' (dragstart)='getFirstPos($event)'>
                  <div *ngFor='let image of imageList; let i = index'
                       [ngStyle]="{ 'border': i === currentImagePos ? '2px solid' : '', 'background-image': 'url(' + image + ')' }"
                       style='background-repeat: no-repeat; object-fit: cover; background-position: center; display: inline; float: left; height: 100%; width: 110px;
            border-radius: 10px; background-size: contain; margin: 0 5px;'
                       (click)='chooseImage(i)'>

                    <div style='float: right; height: 20px; width: 20px; background-color: rgb(255, 255, 255);
       opacity: 0.9;
       display: flex; justify-content: center; align-items: center; border-radius: 100px; margin-top: 2px; margin-right: 2px;'
                         stopPropagation
                    >
                      <button type='button' class='fa fa-times' aria-hidden='true' style='float: right;'
                              (click)='deleteImage(i)'></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class='w-full sm:w-96 md:w-8/12 lg:w-6/12 items-center'>
          <h2 class='font-semibold lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 mt-4'>
            <div class='text-right'>
              <i class='text-red-600 text-sm ' *ngIf='!hasName'>*this field is required</i>
            </div>
            <input
              class='border-none font-semibold lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 rounded-lg placeholder-gray-300'
              type='text'
              placeholder='Input the product name'
              id='productNameEd' name='productName' [(ngModel)]='product.productName'>
          </h2>
          <div>

            <p class='font-medium text-base leading-4 text-gray-600'>Certificate:
              <button type='button' class='w-1/12 h-1/12 focus:outline-none'
                      (click)='openCertificate();dialogCert.showModal()'
              >
                <mat-icon *ngIf="product.certificateUrl==''">add_a_photo</mat-icon>
                <!--                <mat-icon>library_add</mat-icon>-->
                <mat-icon *ngIf="product.certificateUrl!=''"> remove_red_eye</mat-icon>
              </button>

            </p>

          </div>


          <p class=' mt-7'><textarea rows='10'
                                     class='border-none w-full justify-center font-normal text-base leading-6 text-gray-600 rounded-lg placeholder-gray-300'
                                     id='description'
                                     name='description'
                                     placeholder='Input description'
                                     [(ngModel)]='product.description'>{{ product.description }}</textarea>
          </p>
          <hr class='bg-gray-200 w-full my-4' />
          <div class='text-right'>
            <i class='text-red-600 text-sm ' *ngIf='!hasPrice'>*this field is required and must be a positive number</i>
          </div>
          <div class='flex flex-row justify-between'>
            <p class='font-medium text-base leading-4 text-gray-600 w-[7.5rem] pr-[7.5rem]'>Price (VND)</p>
            <p class=' mt-6'>
              <input
                class='border-none font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-right rounded-lg placeholder-gray-300 w-f'
                type='number'
                placeholder='Input unit Price'
                id='priceEd' name='price' [(ngModel)]='product.price'>
            </p>

          </div>


          <div class='lg:mt-6 mt-5'>
            <div class='text-right'>
              <i class='text-red-600 text-sm ' *ngIf='!hasAmount'>*this field is required and must be a positive
                number</i>
            </div>
            <div class='flex flex-row justify-between'>
              <p class='font-medium text-base leading-4 text-gray-600 w-[7.5rem]'>Amount</p>
              <div class='flex justify-end'>
                <input class='w-[13.75rem] rounded-l border-none placeholder-gray-300'
                       placeholder='0'
                       type='number' id='amountCR' name='amount'
                       [(ngModel)]='product.amount' pattern='[0-9]*'>
                <select
                  class='w-20 border-none rounded-r focus:outline-none'
                  [(ngModel)]='product.unit' name='unit'>
                  <option *ngFor='let unit of units' [value]='unit'>{{ unit }}</option>
                </select>
              </div>

            </div>
            <hr class='bg-gray-200 w-full my-2' />
            <div class='flex flex-row justify-between items-center mt-4'>
              <div class='mr-1'>
                <label for='cultivatedDate' class='font-medium text-base leading-4 text-gray-600'
                >Cultivated
                  Date:</label>
                <br>
                <input type='text' id='cultivatedDate' name='cultivatedDate' class='border-0 rounded-lg'
                       *ngIf='product.dates[0]'
                       [value]="product.dates[0].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                <input
                  class='rounded-lg border-none'
                  type='text' name='currentDate' [value]="currentDate | date: 'dd - MMM - yyyy'"
                  *ngIf='!product.dates[0]' disabled>
              </div>
              <div class='ml-1 '>
                <label for='harvestedDate' class='font-medium text-base leading-4 text-gray-600'>Harvested Date:</label>
                <br>
                <input type='text' id='harvestedDate' name='harvestedDate' class='border-0 rounded-lg'
                       *ngIf='product.dates[1]'
                       [value]="product.dates[1].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                <input
                  class='rounded-lg border-none'
                  type='text' name='harvestedDate' [value]="'dd - MMM - yyyy'" *ngIf='!product.dates[1]' disabled>
              </div>
            </div>
            <hr class='bg-gray-200 w-full mt-4' />
            <div class='flex justify-around mb-2 mt-5'>
              <button type='button'
                      class='justify-center border bg-yellow-400 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'
                      (click)='harvestProduct(product.productId)'
                      *ngIf="product.status.toLowerCase() == 'cultivating' || product.status.toLowerCase() == 'cultivated'">
                Harvest this product!
              </button>
              <button type='submit'
                      class='w-3/12 border text-white font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 bg-green-500 hover:bg-green-600'>
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <dialog [ngClass]="openCertification ? 'flex':'hidden'" class='relative flex-col bg-blueGray-100 rounded-lg w-1/3'
          #dialogCert>
    <p class='text-xl font-medium' *ngIf="product.certificateUrl!=''">Certificate</p>
    <p class='text-xl font-medium' *ngIf="product.certificateUrl==''">Add Certificate</p>
    <button type='button' class='absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600'
            (click)='closeCertificate()'>X
    </button>

    <!--    <app-certificate [product]="product"></app-certificate>-->

    <form (ngSubmit)='onSubmitCertificate()'>
      <a href='{{ imageUrl }}' target='_blank' *ngIf="imageUrl!=''">
        <div
          style='height: 90vh; width: 100%; position: relative; background-size: contain; background-position: center; padding: 0 15px; display: flex; justify-content: space-between; align-items: center; background-repeat: no-repeat;'
          [ngStyle]="{'background-image': 'url('+ imageUrl +' )'}">
          <label for='cert-update'>
            <mat-icon *ngIf='!isImageLoading'>edit</mat-icon>
            <app-loading [isLoading]='isImageLoading'></app-loading>
          </label>
          <input *ngIf='!isImageLoading' id='cert-update' type='file' accept='image/png, image/jpeg'
                 style='height: 1px; width: 1px; opacity: 0; '
                 (change)='addCert($event)' />
        </div>
      </a>
      <div
        *ngIf="imageUrl==''"
        style='position: relative; background-size: contain; background-position: center; padding: 0 15px; display: flex; justify-content: space-between; align-items: center; background-repeat: no-repeat;'
        [ngStyle]="{'background-image': 'url('+ imageUrl +' )'}">
        <label for='cert-input'>
          <mat-icon *ngIf='!isImageLoading'>add_photo_alternate</mat-icon>
          <app-loading [isLoading]='isImageLoading'></app-loading>
        </label>
        <input *ngIf='!isImageLoading' id='cert-input' type='file' accept='image/png, image/jpeg'
               style='height: 1px; width: 1px; opacity: 0; '
               (change)='addCert($event)' />
      </div>
      <button type='submit'>
        Confirm
      </button>
    </form>


  </dialog>
  <app-loading-detail [isDetailLoading]='isDetailLoading'></app-loading-detail>
  <ngx-loading
    [show]='loading'
    [config]='{
      fullScreenBackdrop: true,
      animationType: ngxLoadingAnimationTypes.chasingDots
    }'
  ></ngx-loading>
</dialog>

<dialog [ngClass]="isOpenHistoryDialog ? 'flex':'hidden'" class='relative flex-col bg-blueGray-100 rounded-lg w-10/12' #historyDialog>

  <p class='text-xl font-medium' *ngIf="product.certificateUrl==''">History Product</p>
  <button type='button' class='absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600'
          (click)='closeHistoryDialog()'>X
  </button>
  <div class='block'>
    <div class='flex flex-wrap justify-center'>
      <div class='block w-full overflow-x-auto'>
        <table mat-table [dataSource]='dataSourceHistory'
               class='mat-elevation-z8' *ngIf='!isDetailLoading'>
          <ng-container matColumnDef='Index'>
            <th mat-header-cell *matHeaderCellDef class='w-16'> No.</th>
            <td mat-cell *matCellDef='let i = index' class='w-16'> {{i + 1}} </td>
          </ng-container>
          <ng-container matColumnDef='newTransactionId'>
            <th mat-header-cell *matHeaderCellDef class='w-16'> New Transaction</th>
            <td mat-cell *matCellDef='let element' class='w-16'> {{element.new.transactionId}} </td>
          </ng-container>
          <ng-container matColumnDef='newTimestamp' class='w-40'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Timestamp </th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <ng-container>
                <p>
                  <ng-container class='font-bold'>
                    {{element.new.timestamp| date: 'dd - MMM - yyyy'}}
                  </ng-container>
                </p>
                <p>
                  <ng-container>
                    {{element.new.timestamp | date: 'HH:mm'}}
                  </ng-container>
                </p>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef='oldTransactionId'>
            <th mat-header-cell *matHeaderCellDef class='w-16'> Old Transaction</th>
            <td mat-cell *matCellDef='let element' class='w-16'> {{element.old.transactionId}} </td>
          </ng-container>
          <ng-container matColumnDef='oldTimestamp' class='w-40'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Timestamp</th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <ng-container>
                <p>
                  <ng-container class='font-bold'>
                    {{element.old.timestamp| date: 'dd - MMM - yyyy'}}
                  </ng-container>
                </p>
                <p>
                  <ng-container>
                    {{element.old.timestamp | date: 'HH:mm'}}
                  </ng-container>
                </p>
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef='action'>
            <th mat-header-cell *matHeaderCellDef > Action</th>
            <td mat-cell *matCellDef='let element'
                class='border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center'
            >
              <button
                type='button'
                class='w-1/12 h-1/12 focus:outline-none'
                (click)='openCompareDialog(element);compareDialog.showModal()'
              >
                <mat-icon class='text-lime-500'>remove_red_eye</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef='displayHistoryColumns'></tr>
          <tr mat-row *matRowDef='let row; columns: displayHistoryColumns;'></tr>
        </table>

      </div>

    </div>
  </div>
  <app-loading-detail [isDetailLoading]='isDetailLoading' *ngIf='isOpenHistoryDialog'></app-loading-detail>
  <dialog
    [ngClass]="isOpenCompareDialog ? 'flex':'hidden'" class='relative flex-col bg-blueGray-100 rounded-lg w-10/12'
    #compareDialog>
    <p class='text-xl font-medium' *ngIf="product.certificateUrl==''">Transaction</p>
    <button type='button' class='absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600'
            (click)='closeCompareDialog()'>X
    </button>

    <div class='flex justify-between'>
      <div>
        <p>Created On:</p>
        <p>{{compareObj.new.timestamp | date: 'dd-MM-yyyy hh:mm'}}</p>

      </div>
      <div>
        <p>Created On:</p>
        <p>{{compareObj.old.timestamp | date: 'dd-MM-yyyy hh:mm'}}</p>
      </div>
    </div>

  </dialog>

</dialog>
