<app-loading-table [isTableloading]='isTableLoading'></app-loading-table>
<form class='mb-2'>
  <div class='flex'>


    <mat-form-field class='relative w-full'>
      <input matInput placeholder='Search product name...' #input type='search' id='search-dropdown'
             class='block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500'
             required (keyup)='applyFilter($event)'>

    </mat-form-field>
    <select [(ngModel)]='selectedStatus'
            name='status'
            id='status'
            class='block w-2/12 p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-r-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
            (change)='loadData()'
    >
      <option value='supplier'>Supplier</option>
      <option value='manufacturer' selected>Manufacturer</option>
      <option value='distributor'>Distributor</option>
    </select>
  </div>
</form>
<div class='block'>


  <div class='flex flex-wrap mt-4 justify-center'>
    <div class='w-full mb-4 px-4'>
      <div class='block w-full overflow-x-auto'>

        <table *ngIf='!isTableLoading' mat-table [dataSource]='dataSourceProduct' class='mat-elevation-z8'>
          <ng-container matColumnDef='Index'>
            <th mat-header-cell *matHeaderCellDef class='w-16'> No.</th>
            <td mat-cell *matCellDef='let i = index' class='w-16'> {{i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef='ProductName'>
            <th mat-header-cell *matHeaderCellDef class='w-80'> Product Name</th>
            <td mat-cell *matCellDef='let element' class='w-80'> {{element.productName}} </td>
          </ng-container>
          <ng-container matColumnDef='cultivatedDate'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Cultivated date</th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <p>
                <ng-container class='font-bold'>
                  {{element.dates[0].time | date: 'dd - MMM - yyyy'}}
                </ng-container>
              </p>
              <p>
                <ng-container>
                  {{element.dates[0].time | date: 'HH:mm'}}
                </ng-container>
              </p>

            </td>
          </ng-container>
          <ng-container matColumnDef='harvestedDate'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Harvested date</th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <ng-container *ngIf='element.dates[1]'>
                <p>
                  <ng-container class='font-bold'>
                    {{element.dates[1].time | date: 'dd - MMM - yyyy'}}
                  </ng-container>
                </p>
                <p>
                  <ng-container>
                    {{element.dates[1].time | date: 'HH:mm'}}
                  </ng-container>
                </p>
              </ng-container>
              <ng-container *ngIf='!element.dates[1]'>
                On Going...
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef='importedDate'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Imported date</th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <ng-container *ngIf='element.dates[2]'>
                <p>
                  <ng-container class='font-bold'>
                    {{element.dates[2].time | date: 'dd - MMM - yyyy'}}
                  </ng-container>
                </p>
                <p>
                  <ng-container>
                    {{element.dates[2].time | date: 'HH:mm'}}
                  </ng-container>
                </p>
              </ng-container>
              <ng-container *ngIf='!element.dates[2]'>
                On Going...
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef='manufacturedDate'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Manufactured date</th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <ng-container *ngIf='element.dates[3]'>
                <p>
                  <ng-container class='font-bold'>
                    {{element.dates[3].time | date: 'dd - MMM - yyyy'}}
                  </ng-container>
                </p>
                <p>
                  <ng-container>
                    {{element.dates[3].time | date: 'HH:mm'}}
                  </ng-container>
                </p>
              </ng-container>
              <ng-container *ngIf='!element.dates[3]'>
                On Going...
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef='exportedDate'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Exported date</th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <ng-container *ngIf='element.dates[4]'>
                <p>
                  <ng-container class='font-bold'>
                    {{element.dates[4].time | date: 'dd - MMM - yyyy'}}
                  </ng-container>
                </p>
                <p>
                  <ng-container>
                    {{element.dates[4].time | date: 'HH:mm'}}
                  </ng-container>
                </p>
              </ng-container>
              <ng-container *ngIf='!element.dates[4]'>
                On Going...
              </ng-container>
            </td>
          </ng-container>
          <ng-container matColumnDef='distributingDate'>
            <th mat-header-cell *matHeaderCellDef class='w-40'> Distributing date</th>
            <td mat-cell *matCellDef='let element' class='w-40'>
              <ng-container *ngIf='element.dates[5]'>
                <p>
                  <ng-container class='font-bold'>
                    {{element.dates[5].time | date: 'dd - MMM - yyyy'}}
                  </ng-container>
                </p>
                <p>
                  <ng-container>
                    {{element.dates[5].time | date: 'HH:mm'}}
                  </ng-container>
                </p>
              </ng-container>
              <ng-container *ngIf='!element.dates[5]'>
                On Going...
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef='Price'>
            <th mat-header-cell *matHeaderCellDef class='w-[7.5rem]'> Price (VND)</th>
            <td mat-cell *matCellDef='let element' class='w-[7.5rem]'> {{ element.price | dotSeparator }} </td>

          </ng-container>


          <ng-container matColumnDef='Status' class='w-60'>
            <th mat-header-cell *matHeaderCellDef class='w-60'> Status</th>
            <td mat-cell *matCellDef='let element' class='flex items-center'>
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fcultivation24px.png?alt=media&token=267734a8-b3bf-4f14-9ca9-5e6d56ac7c61'
                *ngIf="element.status?.toLowerCase() == 'cultivated'">
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fharvest24px.png?alt=media&token=bf3ebe1e-feb6-4474-99b9-e5deb6a6671a'
                *ngIf="element.status?.toLowerCase() == 'harvested'">
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fimport24px.png?alt=media&token=3fbd4eda-4ad0-4e6e-821e-ca574bde8e38'
                *ngIf="element.status?.toLowerCase() == 'imported'">
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fmanufacturing24px.png?alt=media&token=2227c3f6-4bbf-4831-a7a1-d4ef7af19b42'
                *ngIf="element.status?.toLowerCase() == 'manufactured'">
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fexport24px.png?alt=media&token=0ab4ee7a-73e7-49bc-b61c-0cb0cbb7badc'
                *ngIf="element.status?.toLowerCase() == 'exported'">
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fdistributing24px.png?alt=media&token=4ee3a6f0-ea3a-45cc-b336-8598c986a639'
                *ngIf="element.status?.toLowerCase() == 'distributing'">
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fretailer24px.png?alt=media&token=2c00fc6e-41c4-4a2a-bc0f-7142b496fd46'
                *ngIf="element.status?.toLowerCase() == 'retailing'">
              <img
                src='https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/icon%2Fsold24px.png?alt=media&token=8ec66b83-8b8c-4a7e-ac5f-9e32882623b2'
                *ngIf="element.status?.toLowerCase() == 'sold'">
              <span class='py-10 ml-1.5'>{{element.status}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef='Action'>
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef='let element'
                class='border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center'>
              <button type='button'
                      class='mr-3 fa-solid focus:outline-none fa-pen-to-square text-base text-blue-500 hover:text-blue-600 transition-colors duration-300 ease-in-out transform'
                      (click)='open(element);manufacturerDetailDialog.showModal();'></button>
              <button type='button'
                      class='fa-solid focus:outline-none fa-trash-can text-base text-red-500 hover:text-red-600 transition-colors duration-300 ease-in-out transform'></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
          <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
        </table>

        <mat-paginator #manufacturerPaginator [pageSizeOptions]='[5, 10, 25, 100]'
                       aria-label='Select page of users'></mat-paginator>


      </div>


    </div>

  </div>
</div>
<dialog [ngClass]="openDialog ? 'flex':'hidden'" class=' relative flex-col bg-blueGray-100 rounded-lg w-5/6'
        #manufacturerDetailDialog>
  <div class='block'>
    <p class='text-xl font-medium'>Update product</p>

    <button type='button' class='absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600'
            (click)='close({isClose:true, isReload:false})'>X
    </button>
  </div>
  <div class='block' style='max-height: 90vh'>
    <form (ngSubmit)='onSubmit()'>
      <div class='2xl:container 2xl:mx-auto lg:px-20 md:px-6 px-4'>
        <div class='flex justify-center items-center lg:flex-row flex-col gap-8'>
          <div class='w-full '>
            <div style='height: 70vh; width: 100%;' class='mb-2 border-4 rounded'>
              <div style='display: flex; flex-direction: column; height: 100%; width: 100%;'>
                <div style='flex: 5'>
                  <div
                    style='position: relative; background-size: contain; background-position: center; padding: 0 15px; display: flex; justify-content: space-between; align-items: center; height: 100%; background-repeat: no-repeat;'
                    [ngStyle]="{'background-image': 'url('+ imageList![currentImagePos] +' )'}">
                    <div style='position: absolute; right: 7px; top: 7px;'>
                      <label for='file-input-manufacturer'>
                        <mat-icon *ngIf='!isImageLoading'>
                          library_add
                        </mat-icon>
                        <app-loading [isLoading]='isImageLoading'></app-loading>
                      </label>
                      <input *ngIf='!isImageLoading' id='file-input-manufacturer' type='file'
                             style='height: 1px; width: 1px; opacity: 0;' (change)='addImage($event)' />
                    </div>
                    <div style='border-radius: 5px; background-color: aliceblue; height: 35px; width: 35px'
                         (click)='previousImage()'>
                      <svg class='h-8 w-8 text-black' width='24' height='24' viewBox='0 0 24 24' stroke-width='2'
                           stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                        <path stroke='none' d='M0 0h24v24H0z' />
                        <line x1='5' y1='12' x2='19' y2='12' />
                        <line x1='5' y1='12' x2='11' y2='18' />
                        <line x1='5' y1='12' x2='11' y2='6' />
                      </svg>
                    </div>
                    <div style='border-radius: 5px; background-color: aliceblue; height: 35px; width: 35px'
                         (click)='forwardImage()'>
                      <svg class='h-8 w-8 text-black' width='24' height='24' viewBox='0 0 24 24' stroke-width='2'
                           stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                        <path stroke='none' d='M0 0h24v24H0z' />
                        <line x1='5' y1='12' x2='19' y2='12' />
                        <line x1='13' y1='18' x2='19' y2='12' />
                        <line x1='13' y1='6' x2='19' y2='12' />
                      </svg>
                    </div>
                  </div>
                </div>

                <div (drag)='moveImages($event)' (dragend)='endDrag($event)' id='imageThumnailContain' class='mt-2'
                     style='position: relative;flex: 1; align-items: center; justify-content: center; overflow: hidden;'>
                  <div id='imageThumnails'
                       style='position: absolute;height: 100%; display: flex; align-items: center; padding: 0 5px;'
                       [style.left]='distanceString' (dragstart)='getFirstPos($event)'>
                    <div *ngFor='let image of imageList; let i = index'
                         [ngStyle]="{ 'border': i === currentImagePos ? '2px solid' : '', 'background-image': 'url(' + image + ')' }"
                         style='background-repeat: no-repeat; object-fit: cover; background-position: center; display: inline; float: left; height: 100%; width: 110px;
            border-radius: 10px; background-size: contain; margin: 0 5px;' (click)='chooseImage(i)'>
                      <div style='float: right; height: 20px; width: 20px; background-color: rgb(255, 255, 255);
       opacity: 0.9;
       display: flex; justify-content: center; align-items: center; border-radius: 100px; margin-top: 2px; margin-right: 2px;'
                           (click)='deleteImage(i)' stopPropagation>
                        <i class='fa fa-times' aria-hidden='true' style='float: right;'></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class='w-120 sm:w-96 md:w-8/12 lg:w-6/12 items-center'>
            <h2 class='font-semibold lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800 mt-4'>
              <input class='border-none font-semibold lg:text-4xl text-3xl lg:leading-9 leading-7 text-gray-800'
                     type='text' id='productNameEd' name='productName' [(ngModel)]='product.productName'>
            </h2>
            <div class='flex justify-between'>
              <div class='flex'>

                <p style='padding-top:3px;' class='font-medium text-base leading-4 text-gray-600'>Certificate:


                </p>
                <button style='margin:0 0 12px; ' type='button' class='w-1/12 h-1/12 focus:outline-none'
                        (click)='openCertificate();dialogCertManufacturer.showModal()'
                >
                  <mat-icon *ngIf="product.certificateUrl==''">add_a_photo</mat-icon>
                  <!--                <mat-icon>library_add</mat-icon>-->
                  <mat-icon *ngIf="product.certificateUrl!=''"> remove_red_eye</mat-icon>
                </button>
              </div>
              <!--              <div class='text-center'>-->
              <p *ngIf="product.qrCode!=''" class='font-medium text-base leading-4 text-gray-600 pr-4'
                 style='margin-bottom: 0; padding-top:3px'>
                QR code:
                <button type='button' class='w-1/12 h-1/12 focus:outline-none'
                        (click)='openQrCode();dialogQrCode.showModal()'
                >
                  <i class='fas fa-qrcode'></i>
                </button>
              </p>
            </div>
            <!--            </div>-->
            <p class=' mt-7'><textarea rows='10'
                                       class='border-none w-full justify-center font-normal text-base leading-6 text-gray-600'
                                       id='description' name='description'
                                       [(ngModel)]='product.description'>{{ product.description }}</textarea>
            </p>
            <div class='lg:mt-5 mt-4'>
              <div class='flex flex-row justify-between'>
                <p class='font-medium text-base leading-4 text-gray-600 w-[7.5rem]'>Expired</p>
                <div class='flex justify-end'>
                  <input class='w-[13.75rem] rounded-l border-none placeholder-gray-300'
                         type='number' id='expired' name='numbOfTime'
                         [(ngModel)]='time.numbOfTime' pattern='[0-9]*' min='1'>
                  <select class='w-20 border-none rounded-r focus:outline-none'
                          [(ngModel)]='time.unitOfTime' name='timeUnit'>
                    <option *ngFor='let time of times' [value]='time'>{{ time }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class='flex flex-row justify-between lg:mt-5 mt-4'>
              <p class='font-medium text-base leading-4 text-gray-600 w-[7.5rem] pr-[7.5rem]'>Price (VND)</p>
              <p class=' mt-6 mb-0'>
                <input
                  class='border-none font-semibold lg:text-2xl text-xl lg:leading-6 leading-5 text-right rounded-lg placeholder-gray-300 w-f'
                  type='text'
                  placeholder='Input unit Price'
                  id='priceEd' name='price' [(ngModel)]='product.price '>
              </p>
            </div>
            <div class='flex flex-row justify-between lg:mt-4 mt-3'>
              <p class='font-medium text-base leading-4 text-gray-600 w-[7.5rem]'>Amount</p>
              <div class='flex justify-end'>
                <input
                  class='w-[13.75rem] rounded-l border-none placeholder-gray-300'
                  placeholder='0'
                  type='text' id='amountCR' name='amount'
                  [(ngModel)]='product.amount' (input)='validateAmount($event)'>
                <select
                  class='w-20 border-none rounded-r focus:outline-none'
                  [(ngModel)]='product.unit' name='unit'>
                  <option *ngFor='let unit of units' [value]='unit'>{{ unit }}</option>
                </select>
              </div>
            </div>
            <div class='lg:mt-4 mt-3'>
              <hr class='bg-gray-200 w-full my-2' />
              <div class='flex flex-row justify-between items-center mt-4'>
                <div>
                  <label for='cultivatedDate' class='font-medium text-base leading-4 text-gray-600'>Cultivated
                    Date:</label>
                  <br>
                  <input type='text' id='cultivatedDate' name='cultivatedDate' class='border-0' *ngIf='product.dates[0]'
                         [value]="product.dates[0].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                </div>
                <div>
                  <label for='harvestedDate' class='font-medium text-base leading-4 text-gray-600'>Harvested
                    Date:</label>
                  <br>
                  <input type='text' id='harvestedDate' name='harvestedDate' class='border-0' *ngIf='product.dates[1]'
                         [value]="product.dates[1].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                  <input type='text' name='harvestedDate' [value]="'dd - MMM - yyyy'" *ngIf='!product.dates[1]'
                         disabled>
                </div>
              </div>
              <div class='flex flex-row justify-between items-center mt-4'
                   *ngIf="product.status.toLowerCase()==='imported' ||product.status.toLowerCase()==='manufactured'">
                <div>
                  <label for='cultivatedDate' class='font-medium text-base leading-4 text-gray-600'>Imported
                    Date:</label>
                  <br>
                  <input type='text' id='importedDate' name='cultivatedDate' class='border-0' *ngIf='product.dates[2]'
                         [value]="product.dates[2].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                </div>
                <div>
                  <label for='harvestedDate' class='font-medium text-base leading-4 text-gray-600'>Manufactured
                    Date:</label>
                  <br>
                  <input type='text' id='manufacturedDate' name='harvestedDate' class='border-0'
                         *ngIf='product.dates[3]'
                         [value]="product.dates[3].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                  <input type='text' name='harvestedDate' [value]="'dd - MMM - yyyy'" *ngIf='!product.dates[3]'
                         disabled>
                </div>
              </div>
              <div class='flex flex-row justify-between items-center mt-4'
                   *ngIf="product.status.toLowerCase()==='exported' ||product.status.toLowerCase()==='distributed'">
                <div>
                  <label for='cultivatedDate' class='font-medium text-base leading-4 text-gray-600'>Exported
                    Date:</label>
                  <br>
                  <input type='text' id='exportedDate' name='cultivatedDate' class='border-0' *ngIf='product.dates[4]'
                         [value]="product.dates[4].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                </div>
                <div>
                  <label for='harvestedDate' class='font-medium text-base leading-4 text-gray-600'>Distributed
                    Date:</label>
                  <br>
                  <input type='text' id='distributedDate' name='harvestedDate' class='border-0' *ngIf='product.dates[5]'
                         [value]="product.dates[5].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                  <input type='text' name='harvestedDate' [value]="'dd - MMM - yyyy'" *ngIf='!product.dates[5]'
                         disabled>
                </div>
              </div>
              <div class='flex flex-row justify-between items-center mt-4'
                   *ngIf="product.status.toLowerCase()==='retailed' ||product.status.toLowerCase()==='sold'">
                <div>
                  <label for='cultivatedDate' class='font-medium text-base leading-4 text-gray-600'>Retailed
                    Date:</label>
                  <br>
                  <input type='text' id='retailedDate' name='cultivatedDate' class='border-0' *ngIf='product.dates[6]'
                         [value]="product.dates[6].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                </div>
                <div>
                  <label for='harvestedDate' class='font-medium text-base leading-4 text-gray-600'>Sold Date:</label>
                  <br>
                  <input type='text' id='soldDate' name='harvestedDate' class='border-0' *ngIf='product.dates[6]'
                         [value]="product.dates[6].time | date: 'dd - MMM - yyyy HH:mm:ss'" disabled>
                  <input type='text' name='harvestedDate' [value]="'dd - MMM - yyyy'" *ngIf='!product.dates[6]'
                         disabled>
                </div>
              </div>

              <hr class='bg-gray-200 w-full mt-4' />
              <div class='flex justify-around mb-2 mt-5'>
                <!--            <button type="button"-->
                <!--                    class="w-3/12 border bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"-->
                <!--                    (click)="close({isClose: true, isReload: false})">Cancel-->
                <!--            </button>-->
                <button type='button'
                        class='justify-center border bg-cyan-400 active:bg-cyan-600 font-bold uppercase text-xs text-white px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'
                        style='background-color: #2196F3;'
                        (click)='importProduct()' *ngIf="product.status.toLowerCase() == 'harvested'">
                  Import this product!
                </button>
                <button type='button'
                        class='justify-center border bg-yellow-400 active:bg-yellow-600 font-bold uppercase text-xs text-white px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'
                        style='background-color: #3F51B5'
                        (click)='manufactureProduct()' *ngIf="product.status.toLowerCase() == 'imported'">
                  Manufacture this product!
                </button>
                <button type='submit'
                        class='w-3/12 border text-white font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'
                        [disabled]='!product.productName || !product.amount || product.image == null || product.image.length == 0'
                        [ngClass]="!product.productName || !product.amount || product.image == null || product.image.length == 0 ? 'bg-slate-400' : 'bg-green-500 hover:bg-green-600'">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <dialog [ngClass]="openCertification ? 'flex':'hidden'" class='relative flex-col bg-blueGray-100 rounded-lg w-1/3'
          #dialogCertManufacturer>
    <p class='text-xl font-medium' *ngIf="product.certificateUrl!=''">Certificate</p>
    <p class='text-xl font-medium' *ngIf="product.certificateUrl==''">Add Certificate</p>
    <button type='button' class='absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600'
            (click)='closeCertificate()'>X
    </button>

    <!--    <app-certificate [product]="product"></app-certificate>-->

    <a href='{{ imageUrl }}' target='_blank' *ngIf="imageUrl!=''">
      <div class='w-full'
           style='height: 90vh; position: relative; background-size: contain; background-position: center; padding: 0 15px; display: flex; justify-content: space-between; align-items: center; background-repeat: no-repeat;'
           [ngStyle]="{'background-image': 'url('+ imageUrl +' )'}">
      </div>
    </a>
  </dialog>
  <dialog [ngClass]="openQrCodeDialog ? 'flex':'hidden'" class='relative flex-col bg-blueGray-100 rounded-lg w-1/3'
          #dialogQrCode>
    <p class='text-xl font-medium' *ngIf="product.certificateUrl!=''">QR Code</p>
    <button type='button' class='absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600'
            (click)='closeQrCode()'>X
    </button>

    <!--    <app-certificate [product]="product"></app-certificate>-->

    <a href='{{ product.qrCode }}' target='_blank' *ngIf="product.qrCode!=''">
      <div class='w-full'
           style='height: 90vh; position: relative; background-size: contain; background-position: center; padding: 0 15px; display: flex; justify-content: space-between; align-items: center; background-repeat: no-repeat;'
           [ngStyle]="{'background-image': 'url('+ product.qrCode +' )'}">
        <img src='{{product.qrCode}}' alt='' sizes='' srcset='' #qrCodeDiv>
      </div>
    </a>

    <!--    <button type='button' (click)='exportQrCode()'>Export Qr Code</button>-->

  </dialog>
  <ngx-loading
    [show]='loading'
    [config]='{
      fullScreenBackdrop: true,
      animationType: ngxLoadingAnimationTypes.chasingDots
    }'
  ></ngx-loading>
</dialog>

<!--ngxLoadingAnimationTypes: {-->
<!--chasingDots: string;-->
<!--circle: string;-->
<!--circleSwish: string;-->
<!--cubeGrid: string;-->
<!--doubleBounce: string;-->
<!--none: string;-->
<!--pulse: string;-->
<!--rectangleBounce: string;-->
<!--rotatingPlane: string;-->
<!--threeBounce: string;-->
<!--wanderingCubes: string;-->
<!--};-->


<!--<dialog [ngClass]="openDialog ? 'flex':'hidden'" class=" relative flex-col bg-blueGray-100 rounded-lg w-5/6" #manufacturerDetailDialog>-->

<!--</dialog>-->
