<div class="container loading-overlay flex flex-col items-center" *ngIf ="isTableloading" style="display: flex; justify-content: center; align-items: center; width: 100%;">
<!--  <div class="tree">-->
<!--    <div class="branch" style="&#45;&#45;x:0">-->
<!--      <span style="&#45;&#45;i:0;"></span>-->
<!--      <span style="&#45;&#45;i:1;"></span>-->
<!--      <span style="&#45;&#45;i:2;"></span>-->
<!--      <span style="&#45;&#45;i:3;"></span>-->
<!--    </div>-->
<!--    <div class="branch" style="&#45;&#45;x:1">-->
<!--      <span style="&#45;&#45;i:0;"></span>-->
<!--      <span style="&#45;&#45;i:1;"></span>-->
<!--      <span style="&#45;&#45;i:2;"></span>-->
<!--      <span style="&#45;&#45;i:3;"></span>-->
<!--    </div>-->
<!--    <div class="branch" style="&#45;&#45;x:2">-->
<!--      <span style="&#45;&#45;i:0;"></span>-->
<!--      <span style="&#45;&#45;i:1;"></span>-->
<!--      <span style="&#45;&#45;i:2;"></span>-->
<!--      <span style="&#45;&#45;i:3;"></span>-->
<!--    </div>-->
<!--    <div class="branch" style="&#45;&#45;x:3">-->
<!--      <span style="&#45;&#45;i:0;"></span>-->
<!--      <span style="&#45;&#45;i:1;"></span>-->
<!--      <span style="&#45;&#45;i:2;"></span>-->
<!--      <span style="&#45;&#45;i:3;"></span>-->
<!--    </div>-->
<!--    <div class="stem">-->
<!--      <span style="&#45;&#45;i:0;"></span>-->
<!--      <span style="&#45;&#45;i:1;"></span>-->
<!--      <span style="&#45;&#45;i:2;"></span>-->
<!--      <span style="&#45;&#45;i:3;"></span>-->
<!--    </div>-->
    <span class="shadow"></span>
<!--  </div>-->
      <img src="https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/loading%2Foutput-onlinegiftools.gif?alt=media&token=df0d36e2-2181-4bc9-a263-2ddeb79878de" alt="" class="w-1/12">
    <span class="font-bold text-[#33CCCC]">Loading ...</span>
</div>
