<html class="mdl-js">

<head>
  <meta charset="UTF-8" />
  <title>Red Sky</title>
  <link href="https://c.redsky.io/bundles/af376376f7f0/styles.css" rel="stylesheet" />
</head>

<body data-new-gr-c-s-check-loaded="14.1110.0" data-gr-ext-installed="">
  <div id="app" bis_skin_checked="1">
    <div class="full-page page-marketing" bis_skin_checked="1">
      <div class="is-most-sticky" bis_skin_checked="1">
        <app-index-navbar (newOpenTab)="this.stateOpenTab = $event"></app-index-navbar>
      </div>
      <section>
        <div [ngClass]="{ hidden: _openTab !== 0, block: _openTab === 0 }">
          <div class="container" bis_skin_checked="1">
            <div bis_skin_checked="1">
              <div class="hero marketing" bis_skin_checked="1">
                <div class="hero-body" bis_skin_checked="1">
                  <div class="image hero-animation" bis_skin_checked="1">
                    <img
                      src="https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/homepage%2Fhomepage.gif?alt=media&token=cf61656b-28fc-4273-9683-1ebd64eeb9fa&_gl=1*kleudi*_ga*ODc2NDc0NDM1LjE2ODQyMzA5NDQ.*_ga_CW55HF8NVT*MTY4NTQyODgwMS4xMS4xLjE2ODU0Mjg4NDcuMC4wLjA."
                      width="1098" height="775" style="aspect-ratio: 2196 / 1550" />

                    <div class="hero-blurb" bis_skin_checked="1">
                      <h1>One Commune One Product</h1>
                      <p class="pb-2">
                        <b>One Commune One Product (OCOP)</b> is a national program aimed at promoting the production
                        and
                        consumption of high-quality local
                        products from rural areas. The program helps create sustainable economic development
                        opportunities and improve incomes for local residents.
                      </p>
                      <div bis_skin_checked="1">
                        <a class="is-gradient is-wide is-mediu  m button" href="/contact-us" style="display: block">
                          <div class="hover-bold-fix" bis_skin_checked="1">
                            <div bis_skin_checked="1">LEARN MORE</div>
                            <div bis_skin_checked="1">LEARN MORE</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <section class="section">
                <div class="container" bis_skin_checked="1">
                  <div class="has-text-centered" bis_skin_checked="1">
                    <h2 style="position: relative">
                      The Control Tower for Your Business
                      <div id="logistics" bis_skin_checked="1" style="position: absolute; top: -8em"></div>
                    </h2>
                    <p>
                      <b>OCOP SCM (One Commune One Product - Supply Chain Management)</b> provides a comprehensive range
                      of
                      services for effectively managing OCOP production activities. Our primary focus is to ensure the
                      production of high-quality products and maintain transparency throughout the entire production
                      process, enhancing the prestige of the products. We prioritize the integrity and security of all
                      information related to production activities, which is achieved through our robust hyperledger
                      platform.
                    </p>
                  </div>
                </div>
              </section>
              <div class="container marketing" bis_skin_checked="1">
                <div class="logistics-solutions" bis_skin_checked="1">
                  <h2>Logistics solutions</h2>
                  <p>
                    Our experienced logistics team takes care of ocean
                    freight, road haulage, customs clearance, cold storage and
                    distribution.
                  </p>
                  <p>
                    All information, communication and documentation is
                    centralised in our platform, giving you unparalleled
                    visibility across your supply chain.
                  </p>
                  <br /><br /><a class="is-gradient is-wide is-medium button" href="/logistics" style="display: block">
                    <div class="hover-bold-fix" bis_skin_checked="1">
                      <div bis_skin_checked="1">LEARN MORE</div>
                      <div bis_skin_checked="1">LEARN MORE</div>
                    </div>
                  </a>
                </div>
              </div>
              <section class="section">
                <div class="container" bis_skin_checked="1">
                  <div bis_skin_checked="1">
                    <div class="finance-platform-grid" bis_skin_checked="1">
                      <div class="mr-5" bis_skin_checked="1" style="
                            grid-area: finance-text / finance-text /
                              finance-text / finance-text;
                          ">
                        <h2 style="position: relative">
                          Finance managerment
                          <div id="finance" bis_skin_checked="1" style="position: absolute; top: -8em"></div>
                        </h2>
                        Unlock immediate payment of your invoices, up to 120
                        days ahead of your scheduled payment date.
                      </div>
                      <div class="block" bis_skin_checked="1" style="
                            grid-area: finance-img / finance-img / finance-img /
                              finance-img;
                          ">
                        <img src="https://c.redsky.io/assets/img/b6c0a779d2c5/finance.svg"
                          style="width: 75%; margin-left: 12.5%" />
                      </div>
                      <div bis_skin_checked="1" style="
                            grid-area: platform-text / platform-text /
                              platform-text / platform-text;
                          ">
                        <h2>The Platform</h2>
                        All technical and shipping documentation centralised
                        in a single dashboard.
                      </div>
                      <div class="block" style="
                            grid-area: platform-img / platform-img /
                              platform-img / platform-img;
                          " bis_skin_checked="1">
                        <img src="https://c.redsky.io/assets/img/c59c4c8e29cb/platform-abstract.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="footer-hills" bis_skin_checked="1">
                <h2 class="has-text-white">
                  Take Control of Your Supply Chain
                </h2>
                <img src="https://c.redsky.io/assets/img/0434a4c25934/hills-sun.svg" /><a
                  class="is-black is-wide is-medium button" href="/contact-us">
                  <div class="hover-bold-fix" bis_skin_checked="1">
                    <div bis_skin_checked="1">CONTACT US</div>
                    <div bis_skin_checked="1">CONTACT US</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div [ngClass]="{ hidden: _openTab !== 1, block: _openTab === 1 }">
          <app-about-us></app-about-us>
        </div>
        <div [ngClass]="{ hidden: _openTab !== 2, block: _openTab === 2 }">
          <app-contact-us></app-contact-us>
        </div>
      </section>
      <footer class="footer is-size-7 full-page is-screen-only">
        <div class="container level is-mobile py-4" bis_skin_checked="1">
          <div class="level-left" bis_skin_checked="1"></div>
          <div class="level-right" bis_skin_checked="1">
            <div class="level-item" bis_skin_checked="1">
              <a href="/imprint" bis_skin_checked="1">Imprint</a>
            </div>
            <div class="level-item" bis_skin_checked="1">
              <a href="/terms" bis_skin_checked="1">Terms<span class="is-hidden-mobile"> of service</span></a>
            </div>
            <div class="level-item" bis_skin_checked="1">
              <a href="/privacy" bis_skin_checked="1">Privacy<span class="is-hidden-mobile"> policy</span></a>
            </div>
            <p class="level-item">©2023 SCM OPOP Goods Ltd</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>