<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          SCM For OCOP Products
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          A supply chain management system for OCOP goods and agricultural
          products
        </p>
        <div class="mt-12">
          <a
            href="/auth/register"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>

  <video
    autoplay=""
    loop=""
    id="video"
    playsinline=""
    width="800"
    height="600"
    style="aspect-ratio: 2196 / 1550"
  >
    <source
      src="https://c.redsky.io/assets/img/5bd482bac8d2/hero.mp4"
      type="video/mp4"
    />
  </video>
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
</section>

<app-footer></app-footer>
