<html class="mdl-js">

<head>
  <meta charset="UTF-8"/>
  <title>Red Sky</title>
  <link href="https://c.redsky.io/bundles/af376376f7f0/styles.css" rel="stylesheet"/>
</head>

<body data-new-gr-c-s-check-loaded="14.1110.0" data-gr-ext-installed="">
<div id="app" bis_skin_checked="1">
  <div class="full-page page-marketing" bis_skin_checked="1">
    <div class="is-most-sticky" bis_skin_checked="1">
      <app-index-navbar (newOpenTab)="this.stateOpenTab = $event"></app-index-navbar>
    </div>
    <section>
      <div [ngClass]="{ hidden: _openTab !== 0, block: _openTab === 0 }">
        <div class="container" bis_skin_checked="1">
          <div bis_skin_checked="1">
            <div class="hero marketing" bis_skin_checked="1">
              <div class="hero-body" bis_skin_checked="1">
                <div class="image hero-animation" bis_skin_checked="1">
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/homepage%2Fhomepage.gif?alt=media&token=cf61656b-28fc-4273-9683-1ebd64eeb9fa&_gl=1*kleudi*_ga*ODc2NDc0NDM1LjE2ODQyMzA5NDQ.*_ga_CW55HF8NVT*MTY4NTQyODgwMS4xMS4xLjE2ODU0Mjg4NDcuMC4wLjA."
                    width="1098" height="775" style="aspect-ratio: 2196 / 1550"/>

                  <div class="hero-blurb" bis_skin_checked="1">
                    <h1>One Commune One Product</h1>
                    <p class="pb-2">
                      <b>One Commune One Product (OCOP)</b> is a national program aimed at promoting the production
                      and
                      consumption of high-quality local
                      products from rural areas. The program helps to create sustainable economic development, give
                      opportunities, and improve incomes for local residents.
                    </p>
                    <div bis_skin_checked="1">
                      <a class="is-gradient is-wide is-mediu  m button"
                         (click)="openIntroduce();introduceDialog.showModal()" style="display: block">
                        <div class="hover-bold-fix" bis_skin_checked="1">
                          <div bis_skin_checked="1">LEARN MORE</div>
                          <div bis_skin_checked="1">LEARN MORE</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--            <section class="section">-->
<!--              <div class="container" bis_skin_checked="1">-->
<!--                <div class="has-text-centered" bis_skin_checked="1">-->
<!--                  <h2 style="position: relative">-->
<!--                    The Control Tower for Your Business-->
<!--                    <div id="logistics" bis_skin_checked="1" style="position: absolute; top: -8em"></div>-->
<!--                  </h2>-->
<!--                  <p>-->
<!--                    <b>OCOP SCM (One Commune One Product - Supply Chain Management)</b> provides a comprehensive range-->
<!--                    of-->
<!--                    services for effectively managing OCOP production activities. Our primary focus is to ensure the-->
<!--                    production of high-quality products and maintain transparency throughout the entire production-->
<!--                    process, enhancing the prestige of the products. We prioritize the integrity and security of all-->
<!--                    information related to production activities, which is achieved through our robust hyperledger-->
<!--                    platform.-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </section>-->

<!--            <div class="container marketing" bis_skin_checked="1">-->
<!--              <div class="logistics-solutions" bis_skin_checked="1">-->
<!--                <h2>Logistics solutions</h2>-->
<!--                <p>-->
<!--                  Our experienced logistics team takes care of ocean-->
<!--                  freight, road haulage, customs clearance, cold storage and-->
<!--                  distribution.-->
<!--                </p>-->
<!--                <p>-->
<!--                  All information, communication and documentation is-->
<!--                  centralised in our platform, giving you unparalleled-->
<!--                  visibility across your supply chain.-->
<!--                </p>-->
<!--                <br/><br/><a class="is-gradient is-wide is-medium button" href="/logistics" style="display: block">-->
<!--                <div class="hover-bold-fix" bis_skin_checked="1">-->
<!--                  <div bis_skin_checked="1">LEARN MORE</div>-->
<!--                  <div bis_skin_checked="1">LEARN MORE</div>-->
<!--                </div>-->
<!--              </a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <section class="section">-->
<!--              <div class="container" bis_skin_checked="1">-->
<!--                <div bis_skin_checked="1">-->
<!--                  <div class="finance-platform-grid" bis_skin_checked="1">-->
<!--                    <div class="mr-5" bis_skin_checked="1" style="-->
<!--                            grid-area: finance-text / finance-text /-->
<!--                              finance-text / finance-text;-->
<!--                          ">-->
<!--                      <h2 style="position: relative">-->
<!--                        Finance managerment-->
<!--                        <div id="finance" bis_skin_checked="1" style="position: absolute; top: -8em"></div>-->
<!--                      </h2>-->
<!--                      Unlock immediate payment of your invoices, up to 120-->
<!--                      days ahead of your scheduled payment date.-->
<!--                    </div>-->
<!--                    <div class="block" bis_skin_checked="1" style="-->
<!--                            grid-area: finance-img / finance-img / finance-img /-->
<!--                              finance-img;-->
<!--                          ">-->
<!--                      <img src="https://c.redsky.io/assets/img/b6c0a779d2c5/finance.svg"-->
<!--                           style="width: 75%; margin-left: 12.5%"/>-->
<!--                    </div>-->
<!--                    <div bis_skin_checked="1" style="-->
<!--                            grid-area: platform-text / platform-text /-->
<!--                              platform-text / platform-text;-->
<!--                          ">-->
<!--                      <h2>The Platform</h2>-->
<!--                      All technical and shipping documentation centralised-->
<!--                      in a single dashboard.-->
<!--                    </div>-->
<!--                    <div class="block" style="-->
<!--                            grid-area: platform-img / platform-img /-->
<!--                              platform-img / platform-img;-->
<!--                          " bis_skin_checked="1">-->
<!--                      <img src="https://c.redsky.io/assets/img/c59c4c8e29cb/platform-abstract.svg"/>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </section>-->
<!--            <div class="footer-hills" bis_skin_checked="1">-->
<!--              <h2 class="has-text-white">-->
<!--                Take Control of Your Supply Chain-->
<!--              </h2>-->
<!--              <img src="https://c.redsky.io/assets/img/0434a4c25934/hills-sun.svg"/><a-->
<!--              class="is-black is-wide is-medium button" href="/contact-us">-->
<!--              <div class="hover-bold-fix" bis_skin_checked="1">-->
<!--                <div bis_skin_checked="1">CONTACT US</div>-->
<!--                <div bis_skin_checked="1">CONTACT US</div>-->
<!--              </div>-->
<!--            </a>-->
<!--            </div>-->
          </div>
        </div>
      </div>
      <div [ngClass]="{ hidden: _openTab !== 1, block: _openTab === 1 }">
        <app-about-us></app-about-us>
      </div>
      <div [ngClass]="{ hidden: _openTab !== 2, block: _openTab === 2 }">
        <app-contact-us></app-contact-us>
      </div>
      <div [ngClass]="{ hidden: _openTab !== 3, flex: _openTab === 3 }" style="justify-content: center;align-items: center;">
        <app-qr-code [openTab]="_openTab"></app-qr-code>
      </div>
    </section>
    <footer class="footer is-size-7 full-page is-screen-only">
      <div class="container level is-mobile py-4" bis_skin_checked="1">
        <div class="level-left" bis_skin_checked="1"></div>
        <div class="level-right" bis_skin_checked="1">
          <div class="level-item" bis_skin_checked="1">
            <a href="/imprint" bis_skin_checked="1">Imprint</a>
          </div>
          <div class="level-item" bis_skin_checked="1">
            <a href="/terms" bis_skin_checked="1">Terms<span class="is-hidden-mobile"> of service</span></a>
          </div>
          <div class="level-item" bis_skin_checked="1">
            <a href="/privacy" bis_skin_checked="1">Privacy<span class="is-hidden-mobile"> policy</span></a>
          </div>
          <p class="level-item">©2023 SCM OPOP Goods Ltd</p>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>

</html>

<dialog #introduceDialog>
  <p class="text-xl font-medium">
    ABOUT OCOP (One Commune One Product)
  </p>
  <button type="button" class="absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600"
          (click)="closeIntroduce()">X
  </button>

  <div class="post-content max-w-[80vh] max-h-[80vh]"><h1>Introduction to the National OCOP Program</h1>
    <p><a name="dieu_1_1">1. Perspective</a></p>
    <p>The OCOP program is a program for the economic development of rural areas, focusing on enhancing internal strength and value creation. It is a solution and a task in implementing the national target program for building new rural areas. The core of the OCOP program is the development of agricultural, non-agricultural, and service products with advantages in each locality along the value chain, implemented by private economic entities (enterprises, production households) and collective economic entities.</p>
    <p>The state plays a role in creating policies and legal frameworks, planning production regions for goods and services, managing and supervising product quality standards, and supporting various aspects such as training, technical guidance, scientific and technological application, brand building, trade promotion, product advertising, and credit support.</p>
    <p><a name="dieu_2_1">2. Objectives</a></p>
    <p>a) General objectives:</p>
    <p>- Develop forms of production and business organization (prioritize the development of cooperatives, small and medium-sized enterprises) to produce traditional products and advantageous services that meet standards and have the ability to compete in the domestic and international markets, contributing to the development of the rural economy.</p>
    <p>- Contribute to the economic restructuring, income improvement, and living standards of the people, and effectively implement the criteria group "Economy and Production Organization" in the National Criteria Set for New Rural Areas.</p>
    <p>- Through the development of production in rural areas, contribute to the industrialization, modernization of agriculture and rural areas, promote reasonable labor structure transformation in rural areas (limiting rural-to-urban migration), protect the environment, and preserve the good traditional values of Vietnamese rural areas.</p>
    <p>b) Specific objectives:</p>
    <p>- Establish a comprehensive management and implementation system for the OCOP program from central to local levels (provinces, districts, communes);</p>
    <p>- Issue criteria sets, evaluation procedures, and product rankings;</p>
    <p>- Issue and apply synchronized policies to effectively implement the OCOP program nationwide;</p>
    <p>- Standardize at least 50% of existing products, equivalent to about 2,400 products; consolidate and improve the production organization through links between production households, cooperatives, and enterprises;</p>
    <p>- Implement 8-10 models of Cultural Tourism Villages;</p>
    <p>- Develop the Creative Design Center for OCOP products, combined with promoting and introducing products in eligible areas;</p>
    <p>- Strengthen the participation of 100% of enterprises and cooperatives in the OCOP program;</p>
    <p>- Strive to develop about 500 small and medium-sized enterprises and cooperatives participating in the OCOP program;</p>
    <p>- Promote trade promotion and brand promotion of OCOP products;</p>
    <p>- Provide training and professional knowledge in production and business management for about 1,200 state management officials (at the central, provincial, and district levels) implementing the OCOP program and 100% of business leaders, cooperative members, and registered production households participating in the OCOP program.</p>
    <p><a name="dieu_3_1">3. Scope, Objectives, and Implementation Principles</a></p>
    <p>a) Scope of implementation:</p>
    <p>- Spatial scope: The OCOP program is implemented in all rural areas nationwide; localities are encouraged to implement
      it appropriately in urban areas based on practical conditions.</p>
    <p>- Time scope: The OCOP program is implemented from 2018 to 2020.</p>
    <p>b) Objectives of implementation:</p>
    <p>- Products: Including goods and services originating from local areas or refined and particularly special products from regions, areas, based on the exploitation of comparative advantages in terms of ecological conditions, culture, genetic resources, local knowledge, and technology.</p>
    <p>- Implementing entities: Small and medium-sized enterprises, cooperatives, cooperative groups, registered production households.</p>
    <p>c) Implementation principles:</p>
    <p>- Products aim for international quality standards.</p>
    <p>- Enhance the quality of human resources.</p>
    <p><a name="dieu_4_1">4. Content</a></p>
    <p>a) Sequential implementation steps of the OCOP process:</p>
    <p>- Propaganda and guidance on OCOP.</p>
    <p>- Product idea registration.</p>
    <p>- Receipt of production and business project proposals.</p>
    <p>- Implementation of production and business projects.</p>
    <p>- Evaluation and rating of products.</p>
    <p>- Trade promotion.</p>
    <p>(<em>Appendix I</em>)</p>
    <p>b) Development of products and services in 06 groups, including:</p>
    <p>- Food, including fresh agricultural products and processed agricultural products.</p>
    <p>- Beverages, including alcoholic and non-alcoholic beverages.</p>
    <p>- Medicinal herbs, including products made from medicinal plants.</p>
    <p>- Textiles and garments, including products made from cotton and fibers.</p>
    <p>- Souvenirs, furniture, and decorations, including products made from wood, fibers, bamboo, metal, ceramics, textiles, etc., for souvenirs and household items.</p>
    <p>- Rural tourism and sales services, including service products for sightseeing, tourism, resorts, entertainment, education, research, etc.</p>
    <p>c) System of product management and supervision, including:</p>
    <p>- Evaluation and rating of products, with 05-star ratings:</p>
    <p>5-star rating: High-quality products that meet international standards.</p>
    <p>4-star rating: Products that meet standards and can be upgraded to meet international standards.</p>
    <p>3-star rating: Products that meet standards and can be developed to achieve a 4-star rating.</p>
    <p>2-star rating: Products that have not fully met the standards but can be developed to achieve a 3-star rating.</p>
    <p>1-star rating: Weak products that can be developed to achieve a 2-star rating.</p>
    <p>(<em>Appendix II</em>)</p>
    <p>- National OCOP Database System.</p>
    <p>- Inspection and supervision work.</p>
    <p>- Human resource training:</p>
    <p>Training target: Officials responsible for implementing the OCOP program from the central to the grassroots level; management and labor leaders in enterprises, cooperatives, etc., participating in the OCOP program.</p>
    <p>Training and capacity building content: Professional knowledge in OCOP program management; specialized knowledge in production management and business administration according to the training framework of the OCOP program.</p>
    <p><em>(Appendix III)</em></p>
    <p>d) Trade promotion activities: Advertising activities, product marketing; e-commerce activities; organizing events to promote OCOP products associated with tourism development, fairs, provincial, regional, national, and international OCOP product exhibitions; establishing an OCOP Product Development and Creative Design Center (OCOP Center) linked to startup support and design of OCOP product samples, introduction, and promotion of OCOP products; introducing and selling products at tourist areas, residential areas, traditional markets, administrative centers (district, province, central level).</p>
    <p>đ) OCOP program component projects include: OCOP program product brand development project; tourism cultural village/model project; key national rural production and service projects (representing ecologically and culturally advantageous areas nationwide); OCOP Product Development and Creative Design Center projects linked to the introduction and promotion of OCOP products in key areas; component projects (projects 2, 3, 4) implemented in the form of PPP, to be deployed with authorized approval.</p>
    <p><a name="dieu_5">5. Funding and capital structure for project implementation</a></p>
    <p>The total budget for project implementation is estimated at about 45,000 billion VND, including:</p>
    <p>- The main source of funding for the OCOP program is socialized capital from: Capital from enterprises, cooperatives, self-reliant production households, capital borrowed from credit institutions, investment funds, small and medium-sized enterprise development funds, cooperative development support funds, sponsorship from international organizations,...</p>
    <p>- In addition, the state budget will provide partial support, including: The budget to support the national target program for building new rural areas from 2016 to 2020, science and technology enterprise funds, promotion funds, agricultural promotion funds, other blended funding sources from central and local levels.</p>
    <p>6. Main tasks and solutions</p>
    <p>a) Enhancing awareness through communication:</p>
    <p>Regular and continuous information and communication are carried out through the system of mass media from the central to grassroots levels; through conferences to launch and implement the OCOP program, through the OCOP program website, in the form of newsletters, specialized topics, product stories accompanied by specific images, slogans, etc.</p>
    <p>b) Establishing a management system for implementing the OCOP program:</p>
    <p>- Central level:</p>
    <p>+ Directing agency: Central Steering Committee for National Target Programs.</p>
    <p>+ Standing agency: Ministry of Agriculture and Rural Development.</p>
    <p>+ Advisory and assistance agency: Central New Rural Development Coordination Office.</p>
    <p>+ At the central level, the Ministry of Agriculture and Rural Development establishes an OCOP Program Advisory Council to support localities in product evaluation and ranking; advise on building the national OCOP product brand; monitor the quality of OCOP products; research and propose mechanisms and policies for implementing the OCOP program.</p>
    <p>- Provincial level:</p>
    <p>+ Directing agency: Provincial-level Steering Committee for National Target Programs;</p>
    <p>+ Advisory and assistance agency: Department of Agriculture and Rural Development or Provincial New Rural Development Coordination Office.</p>
    <p>+ Establishing an Evaluation and Ranking Council for products at the provincial and district levels for each annual evaluation cycle, decided by the People's Committees at the respective levels.</p>
    <p>- District level:</p>
    <p>+ Directing agency: District-level Steering Committee for National Target Programs;</p>
    <p>+ Advisory and support agencies: Department of Agriculture and Rural Development or Department of Economy.</p>
    <p>- Commune level: Commune People's Committee organizes the implementation of the OCOP program.</p>
    <p>c) Regarding mechanisms and policies:</p>
    <p>Economic organizations and production households participating in the OCOP program shall apply the existing policies of the State regarding industry development, agriculture, and rural development. Depending on the actual conditions, the People's Committees of provinces and centrally-run cities shall issue appropriate mechanisms and policies to support credit interest rates, support the application of science and technology, and support personnel training (for directors, business personnel, accountants in small and medium-sized enterprises, and approved business plan holders).</p>
    <p>d) Regarding science and technology, intellectual property protection:</p>
    <p>- Develop and implement science and technology policies for OCOP products, focusing on applied research, research implementation, and product standardization;</p>
    <p>- Develop and implement research projects for science and technology development, improve technology, and apply technology to the production and business of OCOP products. Projects are based on specific needs of economic organizations (prioritizing cooperatives, small and medium-sized enterprises with specific application addresses);</p>
    <p>- Prioritize the development, registration, protection, and enforcement of intellectual property rights related to OCOP products;</p>
    <p>- Apply scientific management in building models of small and medium-sized enterprises, cooperative production of OCOP products in the community.</p>
    <p>đ) Establish a system of consulting and supporting partners for the implementation of the OCOP program:</p>
    <p>- Support and advisory system, including: (i) Program management agencies at all levels, with a focus on the district level; (ii) Individuals and legal entities with experience and comprehensive advisory capacity for all activities of the OCOP program.</p>
    <p>- Partner system of the OCOP program, including: Enterprises participating in the production and business chain of products; universities, research institutions, scientists in the field of the program's industry at central, regional, and local science and technology organizations; professional associations; promotional and trade promotion organizations for products; banks; investment funds; radio and television stations at the central and local levels; journalists.</p>
    <p>e) Mobilization of resources:</p>
    <p>- The largest resource comes from the community, therefore, methods of mobilizing community resources such as capital, land, labor, raw materials, technology, etc., are implemented in accordance with legal regulations, mobilized during the formation of economic organizations, in the form of capital contribution, and implementation of activities according to the annual OCOP cycle;</p>
    <p>- Mobilize credit resources from credit institutions to support economic organizations and production households participating in the OCOP program.</p>
    <div class="text-right">
      <i class="text-gray-500">Source: http://ocop.gov.vn/gioi-thieu</i>
    </div>
  </div>
</dialog>
