<app-loading-table [isTableloading]="isTableLoading"></app-loading-table>
<div class="block">
  <div class="flex flex-wrap mt-4 justify-center">
    <div class="block w-full overflow-x-auto">
      <table mat-table [dataSource]="dataSourceOreder" class="mat-elevation-z8">
        <ng-container matColumnDef="Index">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
        </ng-container>
        <ng-container matColumnDef="qrCode">
          <th mat-header-cell *matHeaderCellDef> QR Code</th>
          <td mat-cell *matCellDef="let element">
            <a (click)="openQRDialog(element);qrDialog.showModal();" class=" cursor-pointer">
              <img src="{{element.qrCode}} ">
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="retailer">
          <th mat-header-cell *matHeaderCellDef> Retailer</th>
<!--          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>-->
          <td mat-cell *matCellDef="let element"> {{element.retailer.fullName}} </td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone number</th>
          <td mat-cell *matCellDef="let element"> {{element.retailer.phoneNumber}} </td>
<!--          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>-->
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address</th>
          <td mat-cell *matCellDef="let element"> {{element.retailer.address}} </td>
<!--          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>-->
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
<!--          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>-->
        </ng-container>
        <ng-container matColumnDef="createDate">
          <th mat-header-cell *matHeaderCellDef> Order Time</th>
          <td mat-cell *matCellDef="let element"> {{element.createDate | date: 'dd - MMM - yyyy HH:mm:ss'}} </td>
<!--          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>-->
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell *matCellDef="let element"
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-center">
            <button type="button"
                    class="mr-3 fa-solid focus:outline-none fa-pen-to-square text-base text-blue-500 hover:text-blue-600 transition-colors duration-300 ease-in-out transform"
                    (click)="openDetailRequestDialog(element);detailRequestDialog.showModal();"
                    ></button>
            <button type="button"
                    class="fa-solid focus:outline-none fa-trash-can text-base text-red-500 hover:text-red-600 transition-colors duration-300 ease-in-out transform"></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>
      </table>
      <mat-paginator #orderPaginator [pageSizeOptions]="[10, 25, 100]"
                     aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>

<dialog [ngClass]="isOpenDetailRequestDialog ? 'flex':'hidden'" class=" relative flex-col bg-blueGray-100 rounded-lg w-5/6" #detailRequestDialog>
  <p class="text-xl font-medium">Detail Order</p>
  <app-loading-detail [isDetailLoading]="isDetailLoading" ></app-loading-detail>
  <button type="button" class="absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600" (click)="closeDetailRequestDialog(false)">X
  </button>

  <div class="block" *ngIf="!isDetailLoading">
    <div class="flex flex-wrap mt-4 justify-center">
      <div class="w-full mb-4 px-4">
        <div class="block w-full overflow-x-auto">
          <table mat-table [dataSource]="dataSourceBill" class="mat-elevation-z2">
            <ng-container matColumnDef="Index">
              <th mat-header-cell *matHeaderCellDef> No.</th>
              <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="ProductName">
              <th mat-header-cell *matHeaderCellDef> Product Name</th>
              <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="QuantityAvailable">
              <th mat-header-cell *matHeaderCellDef> Quantity Available</th>
              <td mat-cell *matCellDef="let element"> {{ Math.abs(element.quantityAvailable) }} </td>
            </ng-container>

            <ng-container matColumnDef="QuantityRequest">
              <th mat-header-cell *matHeaderCellDef> Quantity Request</th>
              <td mat-cell *matCellDef="let element"> {{Math.abs(element.quantityRequest)}} </td>
            </ng-container>

            <ng-container matColumnDef="UnitPrice">
              <th mat-header-cell *matHeaderCellDef> Unit Price (VND)</th>
              <td mat-cell *matCellDef="let element"> {{element.unitPrice | dotSeparator}} </td>
            </ng-container>

            <ng-container matColumnDef="TotalPrice">
              <th mat-header-cell *matHeaderCellDef> Total Price (VND)</th>
              <td mat-cell *matCellDef="let element"> {{element.totalPrice | dotSeparator}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedBilColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedBilColumns;"></tr>
          </table>

          <div style="text-align: right; font-size: 1.2em;" class="mr-36 mt-3">
            Total (VND): {{totalCost | dotSeparator}}
          </div>

        </div>
        <div class="flex justify-around mb-2 mt-5">
          <button
            *ngIf="isPending"
            type="button" class="w-3/12 border bg-yellow-400 active:bg-yellow-600 font-bold text-white uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            (click)="rejectOrder(order.orderId)"
          >
            Reject
          </button>
          <button
            *ngIf="isPending"
            type="button" class="w-3/12 border text-white font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" (click)="approveOrder(order.orderId)"
                  [disabled]="!canApprove"
                  [ngClass]="!canApprove ? 'bg-slate-400' : 'bg-green-500 hover:bg-green-600'"
          >
            Approve
          </button>
        </div>

      </div>

    </div>


  </div>
</dialog>


<dialog [ngClass]="isOpenQRDialog ? 'flex':'hidden'" class=" relative flex-col bg-blueGray-100 rounded-lg w-1/6  items-center" #qrDialog>
  <p class="text-xl font-medium">Detail Order</p>
  <app-loading-detail [isDetailLoading]="isDetailLoading" ></app-loading-detail>
  <button type="button" class="absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600" (click)="closeQRDialog(false)">X
  </button>

  <div class="block" *ngIf="!isDetailLoading">
    <div class="flex flex-wrap mt-4 justify-center">
      <div class="w-full mb-4 px-4">
        <div class="block w-full overflow-x-auto">
          <div class="flex justify-between">
            <!-- <div> -->
              <img style="width: 240px; height: 240px;" src="{{order.qrCode}}">
            <!-- </div> -->
            <div>
            </div>
          </div>

        </div>
<!--        <div class="flex justify-around mb-2 mt-5">-->
<!--          <button-->
<!--            *ngIf="isPending"-->
<!--            type="button" class="w-3/12 border bg-yellow-400 active:bg-yellow-600 font-bold text-white uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"-->
<!--            (click)="rejectOrder(order.orderId)"-->
<!--          >-->
<!--            Reject-->
<!--          </button>-->
<!--          <button-->
<!--            *ngIf="isPending"-->
<!--            type="button" class="w-3/12 border text-white font-bold uppercase text-xs px-4 py-2 rounded-lg shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" (click)="approveOrder(order.orderId)"-->
<!--                  [disabled]="!canApprove"-->
<!--                  [ngClass]="!canApprove ? 'bg-slate-400' : 'bg-green-500 hover:bg-green-600'"-->
<!--          >-->
<!--            Approve-->
<!--          </button>-->
<!--        </div>-->

      </div>

    </div>


  </div>
</dialog>
