<nav role="navigation" aria-label="main navigation" class="navbar is-screen-only">
  <div class="container flex items-center" bis_skin_checked="1">
    <div class="navbar-brand" bis_skin_checked="1">
      <a href="/" (click)="stateOpenTab(0)" class="navbar-item is-justify-content-flex-start mt-1/2"
        style="padding-top: 0px"><img
          src="https://firebasestorage.googleapis.com/v0/b/supply-chain-9ea64.appspot.com/o/logo%2Flogo.png?alt=media&token=82860508-bacc-4e73-8afa-675134faa8fa" /></a><a
        role="button" data-target="nav-menu" aria-label="menu" aria-expanded="false" class="navbar-burger burger"><span
          aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
    </div>
    <div class="navbar-menu is-flex-shrinkable" id="nav-menu" bis_skin_checked="1">
      <div class="navbar-start" bis_skin_checked="1">
        <a (click)="stateOpenTab(1)" class="navbar-item" bis_skin_checked="1">About Us</a><a (click)="stateOpenTab(2)"
          class="navbar-item" bis_skin_checked="1">Contact Us</a>
      </div>
      <div class="navbar-end is-flex-shrinkable" bis_skin_checked="1">
        <div class="navbar-item p-0" bis_skin_checked="1">
          <button class="button is-gradient w-[160px]" type="button" (click)="openLogin(); dialog.showModal()">
            <div class="hover-bold-fix" bis_skin_checked="1">
              <div bis_skin_checked="1">Log in</div>
              <div bis_skin_checked="1">Log in</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <dialog [ngClass]="openDialogLogin ? 'hidden' : 'flex'" class="flex-col bg-blueGray-200 rounded-lg w-1/4" #dialog>
    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <div class="header bg-gradient-to-r from-[#ec556c] to-[#ea723e]">
        Sign In
      </div>
      <div class="inputs">
        <input placeholder="Phone Number" class="input" type="phoneNumber" id="phoneNumber"
          formControlName="phoneNumber" />
        <div class="invalid" *ngIf="
            loginForm.get('phoneNumber')?.invalid &&
            (loginForm.get('phoneNumber')?.dirty ||
              loginForm.get('phoneNumber')?.touched)
          ">
          <div *ngIf="loginForm.get('phoneNumber')?.errors?.['required']" class="text-red-500">
            Phone number is required.
          </div>
          <div *ngIf="loginForm.get('phoneNumber')?.errors?.['minlength']" class="text-red-500">
            Phone number should have at least 10 characters.
          </div>
          <div *ngIf="loginForm.get('phoneNumber')?.errors?.['maxlength']" class="text-red-500">
            Phone number should have at under 15 characters.
          </div>
          <div *ngIf="loginForm.get('phoneNumber')?.errors?.['pattern']" class="text-red-500">
            Phone number wrong format.
          </div>
        </div>
        <input placeholder="Password" class="input" type="password" formControlName="password" id="password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" required="" />
        <div class="invalid" *ngIf="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched)
          ">
          <div *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-500">
            Password is required.
          </div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']" class="text-red-500">
            Password should have at least 3 characters.
          </div>
          <div *ngIf="loginForm.get('password')?.errors?.['maxlength']" class="text-red-500">
            Password should have at under 30 characters.
          </div>
        </div>
        <div class="checkbox-container">
          <label class="checkbox">
            <input type="checkbox" class="focus:ring-[#f8f8f8]" id="checkbox" />
          </label>
          <label for="checkbox" class="checkbox-text">Remember me</label>
        </div>
        <button class="sigin-btn bg-gradient-to-r from-[#ec556c] to-[#ea723e]" type="submit">
          <app-loading [text]="'Submit'" [isLoading]="loading"></app-loading>
        </button>
        <a class="forget" href="#">Forget password ?</a>
        <button class="border-[#ec556c] border rounded-[0.5rem] cancel-btn" type="reset" (click)="close()"
          [disabled]="loginForm.invalid">
          Cancel
        </button>
      </div>
    </form>
    <!-- <ngx-loading [config]="{fullScreenBackdrop: true}" [show]="ischangingProfile"></ngx-loading> -->
  </dialog>
</nav>
