.CULTIVATED {
    color: #FF0000;
  }
  .CULTIVATING {
    color: #FF0000;
  }
  
  .HARVESTED {
    color: #FF4500;
  }
  
  .HARVESTING {
    color: #FF4500;
  }
  
  .IMPORTED {
    color: #FF8C00;
  }
  
  .IMPORTING {
    color: #FF8C00;
  }
  
  .MANUFACTURED {
    color: #FFA500;
  }
  
  .MANUFACTURING {
    color: #FFA500;
  }
  
  .EXPORTED {
    color: #FFD700;
  }
  
  .EXPORTING {
    color: #FFD700;
  }
  
  .DISTRIBUTED {
    color: #ADFF2F;
  }
  
  .DISTRIBUTING {
    color: #ADFF2F;
  }
  
  .RETAILED {
    color: #7FFF00;
  }
  
  .RETAILING {
    color: #7FFF00;
  }
  
  .SOLD {
    color: #00FF00;
  }
  