<form class="mb-2">
    <div class="flex">


        <mat-form-field class="relative w-full">
            <input matInput placeholder="Search product name..." #input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                required (keyup)="applyFilter($event)">

        </mat-form-field>
        <select id="small" class="block w-2/12 p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-r-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>All status</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
    </div>
</form>
<table mat-table [dataSource]="dataSourceProduct" class=" min-h-max">



    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Product name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cultivatedDate">
        <th mat-header-cell *matHeaderCellDef> Cultivated date</th>
        <td mat-cell *matCellDef="let element"> {{element.dates.cultivated | date: 'dd - MMM - yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="harvestedDate">
        <th mat-header-cell *matHeaderCellDef> Harvested date</th>
        <td mat-cell *matCellDef="let element"> {{element.dates.harvested | date: 'dd - MMM - yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price | currency : 'VND'}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element">
            <i class="fa-solid fa-circle {{element.status.toUpperCase()}}"></i> {{element.status}}
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
            <button type="button" class="mr-3 fa-solid focus:outline-none fa-pen-to-square text-base text-blue-500 hover:text-blue-600 transition-colors duration-300 ease-in-out transform" (click)="open(element);dialog.showModal();"></button>
            <button type="button" class="fa-solid focus:outline-none fa-trash-can text-base text-red-500 hover:text-red-600 transition-colors duration-300 ease-in-out transform"></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayProductColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayProductColumns;"></tr>
</table>
<mat-paginator #productPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
<dialog [ngClass]="openDialog ? 'flex':'hidden'" class=" relative flex-col bg-blueGray-100 rounded-lg w-5/6" #dialog>
    <div class="backdrop" (mousedown)="onBackdropClick($event)"></div>
    <p class="text-xl font-medium">Update product</p>

    <button type="button" class="absolute top-2 right-6 focus:outline-none text-xl font-bold text-red-600" (click)="close({isClose:true, isReload:false})">X
    </button>

    <app-detail-product [product]="product" [reload]="reloadDetailProduct" (dataEvent)="close($event)" *ngIf="openDialog"></app-detail-product>
</dialog>
