<div class="flex flex-wrap">
  <div class="w-full sm:w-6/12 md:w-4/12 px-4">
    <div class="relative inline-flex align-middle w-full">
      <button class="px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button" (click)="toggleDropdown($event)" #btnDropdownRef>
        <svg class="w-6 h-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z">
          </path>
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="z-50" style="min-width: 12rem" #popoverDropdownRef>
  <div
    class="bg-yellow-500 text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
    style="min-width: 12rem"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
    <div class="">
      <a class="text-sm py-2 px-4 font-normal  flex justify-center w-full whitespace-nowrap bg-transparent text-white">
        <div class="avatar-wrapper">
          <img class="avatar-image" src="{{ user.avatar }}">
        </div>
      </a>
      <a
        class="text-sm py-2 px-4 font-normal  flex justify-center w-full whitespace-nowrap bg-transparent text-white"
      >
        {{ user.fullName }}
      </a>
      <a
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-white flex justify-center"
      >
        {{ user.phoneNumber }}
      </a>
      <a
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-white flex justify-center"
      >
        {{ user.email }}
      </a>
    </div>

    <div
      class="h-0 my-2 border border-solid border-t-0 border-slate-800 opacity-25"
    ></div>
    <div>
      <a
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-white flex justify-center"
      >
        Action
      </a>
      <a
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-white flex justify-center"
      >
        Another action
      </a>
      <a
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-white flex justify-center"
      >
        Something else here
      </a>
    </div>

    <div
      class="h-0 my-2 border border-solid border-t-0 border-slate-800 opacity-25"
    ></div>
    <div>
      <a
        href="/"
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-white active:bg-yellow-900 flex justify-center"
        (click)="logout()"
      >
        Logout
      </a>

    </div>
  </div>
</div>
